a {
  text-decoration: none;
  color: inherit;
}

p{
  margin-bottom: 10pt;
  text-align: justify;
  line-height: 20pt;
  font-size: 11pt;
}

.header{
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: #666;
}

.header-logo {
  margin-top: 0px;
  margin-bottom: 20px;
}

.header-nav-list{
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 20px;
}

#firstview{
  margin-bottom: 50pt;
  padding: 5vh 0pt 0pt 20vw;
  height: 50vh;
  background: url("../img/firstview.jpg") no-repeat right top;
  background-size: 50vw;
  color: #666;
}

.firstview-ttl-en{
  margin-bottom: 40pt;
  line-height: 80px;
  font-size: 45pt;
  color: #c71585;
  font-weight: bolder;
  font-family: 'Indie Flower', cursive;
}

.firstview-ttl-ja {
  margin-bottom: 10pt;
  font-size: 17pt;
  color: #c71585;
  font-weight: bold;
}

.firstview-span{
  color:#00a7a7;
}

.div-ttl-en{
  margin: 30pt 0 10pt;
  font-size: 11pt;
  color:#c71585;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}

.div-ttl {
  margin-bottom: 25pt;
  font-size: x-large;
  color: #666;
}

#news{
  padding: 5pt 10vw 60pt;
}

.tbl-news{
  width: 540pt;
  border-collapse: collapse;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  color: #666;
}

.tr-news {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.tr-news:first-of-type > th {
  padding-top: 30pt;
}

.tr-news:last-of-type {
  height: 20pt;
}

.th-news, .td-news {
  padding: 20px 0;
  text-align: left;
  font-size: 12pt;
}

.th-news {
  font-weight: normal;
}

.span-newscat{
  width: 100px;
  padding: 3px 0;
  display: inline-block;
  border-radius: 10px;
  background-color: #c71585;
  text-align: center;
  color: white;
}

#about {
  padding: 5pt 15vw 60pt;
  background-color: #f0f0f0;
  text-align: center;
  color: #666;
}

.about-main{
  display: flex;
  justify-content: space-between;
}

.about-txt, .about-img{
  width: 260pt;
}

#service {
  padding: 5pt 15vw 60pt;
  color: white;
}

.service-grid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.service-main{
  padding: 30pt 40pt;
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: #c71585;
  text-align: center;
}

.service-name{
  margin: 10pt auto;
  font-size: 14pt;
}

.service-img {
  margin: 0 10pt;
}

.service-sub {
  padding: 30pt 20pt 20pt 0pt;
  display: flex;
  text-align: left;
  color: white;
}

.service-sub:nth-of-type(2) {
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: #CE74A7;
}

.service-sub:nth-of-type(3) {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: #CF99B9;
}

#blog{
  padding: 5pt 5vw 30pt;
  background-color: #f0f0f0;
}

.blog-wrapper {
  width: 680pt;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.blog-card {
  width: 210pt;
  margin-bottom: 30pt;
  border: 1px solid #e9eaea;
  text-align: left;
  color: #666;
}

.blog-img {
  height: 139pt;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: url("../img/blog__first.jpg");
  background-size: contain;
}

.blog-cat{
  padding: 7pt 15pt;
  border-top-left-radius: 15px;
  display: inline-block;
  background-color: #c71585;
  text-align: center;
  font-size: 12pt;
  color: white;
}

.blog-txt {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
}

.blog-ttl{
  padding: 20pt;
  line-height: 20pt;
}

.blog-footer {
  padding: 10pt;
  display: flex;
  justify-content: space-between;
  font-size: 10pt;
}

.blog-list {
  width: 150px;
  margin: 10px auto;
  padding: 18px;
  border: 2px solid #c71585;
  border-radius: 30px;
  background-color:white;
  display: block;
  text-align: center;
  font-size: 16px;
  color:#c71585;
  text-decoration: none;
}

#company{
  padding: 5pt 20vw 20vw;
}

.tbl-com {
  width: 60%;
  border-collapse: collapse;
  color: #666;
}

.th-com,
.td-com {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: left;
}

.th-com {
  background-color: #dedede;
  font-weight: bold;
}

#others{
  margin-bottom: 60pt;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 20pt;
  color: white;
}

.recruit{
  width: 50%;
  padding: 100pt;
  background: url("../img/recruit.png"); 
}

.interview {
  width: 50%;
  padding: 100pt;
  background: url("../img/interview.png");
}

#contact{
  padding: 5pt 0pt 60pt;
  text-align: center;
  color: #666;
}

.contact-txt{
	padding: 10pt;
  font-size: large;
}

.dash{
  width: 2px;
  height: 30px;
  margin: 20pt auto;
  background-color: #c71585;
}

.contact-btn{
  width: 200px;
  margin: 10px auto;
  padding: 30px;
  border-radius: 45px;
  position: relative;
  background: linear-gradient(90deg, #FF1493, #c71585);
  box-shadow: 0 5px 0 rgba(107, 38, 75, 0.8);
  display: block;
  text-align: center;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.contact-btn::before {
  width: 30px;
  height: 30px;
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
}

.footer{
  height: 40pt;
  color: #666;
  background-color: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}